@import "animations";


.game-board-container {
    padding: 1em;
    box-sizing: border-box;


    .game-board {
        width: 500px;
        height: 500px;
        box-sizing: border-box;
        margin: 0 auto;
        padding:1em;
        border: 1px solid #eee;
    }
}

.logging-container {
    display: none;
    padding: 1em;
    box-sizing: border-box;
    height: 500px;
    overflow-y: auto;

    p {
        margin: 0;
        padding: .25em 0;
    }
}

.scoreboards-container {
    padding: 1em;
}

.score-board {
    padding: 1em;

    &.active {
        border: 1px solid forestgreen;
    }
}

.cell {
    font-weight: 300;
    width: 100%/8;
    height: 100%/8;
    float: left;
    font-size: .9em;
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: pointer;
    background: #006600;


    &[data-player-num="1"] {
        .player-game-piece {
            .game-piece(#fff);
        }

    }

    &[data-player-num="2"] {
        .player-game-piece {
            .game-piece(#222);
        }

    }


}

.shell {
    margin: 2em auto;
    font-family: 'Roboto', sans-serif;
    width: 1200px;


    .title {
        font-weight: 700;
        font-size: 2em;
        display: inline-block;
        margin: 0 2em 0 0;
    }

    .demo-toolbar {
        margin: 1em 0;
    }

    &.show-marks {
        .cell {
            &[data-target="true"] {
                border: 3px solid #0b97c4;
            }

            &[data-is-highest-scoring-move="true"] {
                background: #0b97c4;
            }
        }
    }

    &.show-logging {

        .logging-container {
            display: block;
        }
    }
}

.border-radius(@rad) {
    border-radius: @rad;
    -moz-border-radius: @rad;
    -webkit-border-radius: @rad;
}
.round(@diameter) {
    .border-radius(@diameter / 2);
    height: @diameter;
    width: @diameter;
}
.game-piece(@bgcolor) {
    .round(90%);
    background: @bgcolor;
    margin: 5% auto;
}